<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sulybella</title>
</head>
<body>
    <h1>Hi!</h1>
    <p> My name is Makhfuza. I am student in AITUC. I love my university. And finally I have blue, cute dress, like princess dress! I love it!</p>
</body>
</html>
